@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap");
*, html, body {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  color: #6f6f6f;
}

a {
  text-decoration: none;
  color: #6f6f6f;
}

button {
  border: none;
}

.wrapper {
  min-width: 100%;
  background-color: #f5f5f5;
}

.wrapper:first-child {
  padding: 22px 0 0 0;
}

.header__button {
  font-size: 38px;
  line-height: 34px;
  font-weight: 600;
  border: 3px solid #706b73;
  border-radius: 2px;
  padding: 8px 17px;
  cursor: pointer;
}

.header__button span {
  color: #fa9a87;
}

.block__burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.burger {
  display: block;
  width: 37px;
  height: 23px;
  background: url(../img/Burger.png) no-repeat center;
}

.header__section-title {
  width: 100%;
  margin-bottom: 110px;
}

.header__section-title h1 {
  font-size: 50px;
  line-height: 62px;
  font-weight: 600;
}

.header__section-title h1 span {
  color: #fc7254;
}

form {
  background-color: #fff;
  border-radius: 3px;
  padding: 26px 39px 20px 39px;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

form .btn {
  width: 238px;
  height: 55px;
  border-radius: 50px;
  background-color: #fc7254;
  color: #fff;
}

h3 {
  text-align: center;
  font-size: 20px;
  line-height: 25px;
}

h3 span {
  color: #fc7254;
}

.form-control {
  font-size: 15px;
  line-height: 25px;
  border: none;
  border-bottom: 1px solid #b0b0b0;
  border-radius: 0;
}

.form-control::-webkit-input-placeholder {
  font-size: 15px;
  line-height: 25px;
  color: #b0b0b0;
}

.form-control:-ms-input-placeholder {
  font-size: 15px;
  line-height: 25px;
  color: #b0b0b0;
}

.form-control::-ms-input-placeholder {
  font-size: 15px;
  line-height: 25px;
  color: #b0b0b0;
}

.form-control::placeholder {
  font-size: 15px;
  line-height: 25px;
  color: #b0b0b0;
}

textarea {
  resize: none;
}

.card {
  max-width: 262px;
  border: none;
  padding: 45px 30px 55px 30px;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  margin-bottom: 50px;
}

@media screen and (max-width: 529px) {
  .card {
    max-width: 100%;
  }
}

.card img {
  width: 55px;
}

.card .btn {
  position: absolute;
  bottom: -28px;
  left: calc(50% - 114px);
  width: 228px;
  height: 56px;
  background-color: #fff;
  border-radius: 50px;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card .card-body {
  position: relative;
  padding: 0;
  color: #fff;
}

.card .card-body h5 {
  margin: 20px 0 20px 0;
}

.card .card-body p {
  font-size: 15px;
  color: #fff;
}

.card-1 {
  background-color: #4eb2f7;
}

.card-2 {
  background-color: #c049f8;
}

.card-3 {
  background-color: #817eff;
}

.card-4 {
  background-color: #f74770;
}

.orange-card {
  height: 358px;
  background-color: #ff5c36;
}

.services__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  height: 90px;
  background-color: #fbfbfb;
  border-radius: 5px;
  -webkit-transition: 1s;
  transition: 1s;
}

.services__link:hover {
  background-color: #fff;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.services__link img {
  width: 70px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.line {
  width: 57px;
  height: 3px;
  background-color: #ff5c36;
}

.modern__section .btn {
  width: 228px;
  height: 56px;
  background-color: #fff;
  border-radius: 50px;
  -webkit-box-shadow: 0 14px 46px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 46px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.22);
}

.modern__img {
  background: url(../img/apple-watch-mockup.png) no-repeat center;
  background-size: 100%;
}

@media screen and (max-width: 767px) {
  .modern__img {
    width: 285px;
    height: 330px;
  }
}

.card-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 445px;
  -webkit-box-shadow: 0 14px 46px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 46px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.22);
}

.card-team .card-team__block-first {
  position: absolute;
  display: inline-block;
  width: 262px;
  top: 365px;
  left: calc(50% - 130px);
  background: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 14px 46px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 46px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.22);
  padding: 21px 46px 0 46px;
}

.card-team .card-team__block-first h2 {
  font-size: 30px;
  font-weight: 500;
}

.card-team .card-team__block-first p {
  font-size: 15px;
}

.card-team .card-team__block-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.card-team .card-team__block-second p {
  font-size: 11px;
  margin-bottom: 5px;
}

.card-team .card-team__block-second p:last-of-type {
  font-size: 16px;
  color: #ff5c36;
  margin-bottom: 10px;
}

.card-team .card-team__block-second .line-white {
  width: 150px;
  height: 4px;
  background: #817f7e;
  border-radius: 1px;
  margin-bottom: 10px;
}

.card-team .card-team__block-second .line-white .line-orange {
  height: 100%;
  border-radius: 2px;
  background: #ff5c36;
}

.card-team .card-team__block-second .line-white .line-orange_first {
  width: 123px;
}

.card-team .card-team__block-second .line-white .line-orange_second {
  width: 109px;
}

.card-team .card-team__block-second .line-white .line-orange_third {
  width: 117px;
}

.card-team .card-team__block-second h2 {
  font-size: 30px;
  margin: 80px 0 0 0;
}

.card-team .card-team__block-second ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-team .card-team__block-second ul li:not(:last-child) {
  margin-right: 15px;
}

.card-team .card-team__block-second ul li a {
  display: inline-block;
  width: 16px;
  height: 18px;
}

.card-team .card-team__block-second ul li .icon-link_first {
  background: url(../img/icon-twitter_01.png) no-repeat center;
}

.card-team .card-team__block-second ul li .icon-link_second {
  background: url(../img/icon-facebook_01.png) no-repeat center;
}

.card-team__first {
  background: #ff5c36;
}

.card-team__second {
  background: #fff3f0;
}
/*# sourceMappingURL=style.css.map */