*, html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* fonts */

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-Regular.woff2),
    url(../fonts/Gilroy-Regular.woff);
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-Medium.woff2),
    url(../fonts/Gilroy-Medium.woff);
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-SemiBold.woff2),
    url(../fonts/Gilroy-SemiBold.woff);
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-Bold.woff2),
    url(../fonts/Gilroy-Bold.woff);
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-ExtraBold.woff2),
    url(../fonts/Gilroy-ExtraBold.woff);
    font-display: swap;
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-Black.woff2),
    url(../fonts/Gilroy-Black.woff);
    font-display: swap;
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-Heavy.woff2),
    url(../fonts/Gilroy-Heavy.woff);
    font-display: swap;
    font-weight: 1000;
    font-style: normal;
}

/* --- */

body{
    font-family: 'Gilroy';
    color: #333333;
}

footer{
    background-color: #333333;
    margin-top: 70px;
}

.wrapper{
    max-width: 1140px;
    margin: 0 auto;
    /* background:rgba(91, 186, 240, 0.5); */
}

.wrapper__background-img{
    background: url(../img/jpg/wave.jpg) no-repeat center;
    background-size: cover;
}
.wrapper__background{
    background-color: #F6F6F6;
}

h1{
    font-size: 40px;
    font-weight: 1000;
}
h2{
    font-size: 36px;
    font-weight: 1000;
    align-self: center;
}

/* header start */

.header__wrap{
    display: flex;
    flex-direction: column;
}
.header__content-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

/* header logo */

.header__logo{
    display: flex;
    align-items: center;
}
.header__logo-link{
    margin-right: 25px;
}
.header__description{
    width: 200px;
    font-size: 14px;
    font-weight: 500;
    border-left: 2px solid #89AFEF;
    padding-left: 25px;
}

/* header icons */

ul{
    display: flex;
    justify-content: space-between;
}
.header__icon-link{
    display: block;
    width: 43px;
    height: 43px;
    border-radius: 50%;
}
.header__icon__whatsapp{
    background: url(../img/whatsapp-icon.png) no-repeat center;
    background-position: 51% 49%;
    background-color: #2DD038;
    box-shadow: 0px 8px 25px rgba(45, 208, 56, 0.497678);
}
.header__icon__viber{
    background: url(../img/viber-icon.png) no-repeat center;
    background-color: #7B519D;
    box-shadow: 0px 8px 25px rgba(123, 81, 157, 0.503797);
}
.header__icon__telegram{
    background: url(../img/telegram-icon.png) no-repeat;
    background-position: 46% 49%;
    background-color: #5BBAF0;
    box-shadow: 0px 8px 25px rgba(91, 186, 240, 0.5);
}
.header__icon{
    margin-right: 18px;
}
.header__icon:last-child{
    margin-right: 0;
}

/* header contacts */

.header_contacts{
    display: flex;
    align-items: center;
}
.contacts-box{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 30px;
}
.header-phone{
    position: relative;
    font-size: 20px;
    font-weight: 700;
    color: #333333;
    padding-left: 25px;
}
.header-phone::before{
    content: url(../img/svg/phone-header.svg);
    position: absolute;
    top: 1px;
    left: 0px;
}
.header-email{
    position: relative;
    font-size: 17px;
    font-weight: 500;
    color: #333333;
    padding-left: 25px;
    margin-top: 5px;
}
.header-email::before{
    content: url(../img/svg/mail-header.svg);
    position: absolute;
    top: 0px;
    left: 0px;
}
.header__button{
    width: 195px;
    height: 44px;
    background: linear-gradient(90deg, #F6BD60 0%, #EB9355 80.38%, #E88952 100%);
    box-shadow: 0px 8px 18px rgba(242, 147, 81, 0.450503);
    border: none;
    border-radius: 3px;
    font-family: 'Gilroy';
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

/* header tabs */

.header__nav-tabs{
    margin-top: 40px;
}
.header__tab-link{
    font-size: 16px;
    font-weight: 500;
    color: #333333;
}

/* header end */

/* intro section start */

.intro__wrap{
    display: flex;
    margin-top: 30px;
}
.inrto__content{
    display: flex;
    flex-flow: column wrap;
    width: 675px;
    margin-top: 85px;
}
.inrto__content > p{
    font-size: 24px;
    font-weight: 500;
    margin: 33px 0;
}
.inrto__content > p > span{
    font-weight: 1000;
}
.intro__button{
    width: 211px;
    height: 50px;
    background: linear-gradient(90deg, #87AFF1 0%,#6C80CB 100%);
    box-shadow: 0px 12px 20px rgba(132, 170, 237, 0.4548);
    border: none;
    border-radius: 3px;
    font-family: 'Gilroy';
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}

/* intro section end */


/* main start */

/* document & resume section */

.main{
    padding-top: 50px;
}
.main__document__wrap,
.document__wrapper,
.main__program__wrap,
.main__certificate__wrap,
.main__news__wrap{
    display: flex;
    flex-flow: column wrap;
}
.main__documents,
.main__resume,
.main__programs,
.main__certificate,
.main__news{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    /* align-items: center; */
}
.main__document-item{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 262px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
    padding: 28px;
    margin-top: 30px;
}
.main__document-item > p{
    font-size: 19px;
    font-weight: 600;
    text-align: center;
    margin-top: 15px;
}

.main__resume{
    margin-top: 70px;
    padding: 43px 0 51px 0;
}
.main__resume-item{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    width: 262px;
}
.main__resume-item > p{
    text-align: center;
}
.main__resume-item > p:first-of-type{
    font-size: 22px;
    font-weight: 800;
    line-height: 27px;
    margin-top: 15px;
}
.main__resume-item > p:last-of-type{
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    margin-top: 7px;
}

/* program section */

.main__program__wrap{
    margin-top: 47px;
}
.main__programs{
    margin-top: 30px;
}
.main__program-item{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 265px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
    padding: 25px;
}
.main__program-item > img{
    margin: auto;
    background: rgba(236, 236, 236, 0.300945);
}
.main__program-item > p{
    text-align: center;
}
.main__program-item > span{
    position: relative;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    color: #53B43B;
    text-align: center; 
}
.main__program-item > span::before{
    position: absolute;
    content: url(../img/shape.png);
    top: 2px;
    left: 30px;
}
.main__program-item > p:first-of-type{
    font-size: 19px;
    font-weight: 800;
    line-height: 23px;
    margin-top: 17px;
}
.main__program-item > p:last-of-type{
    font-size: 22px;
    font-weight: 800;
    margin-top: 15px;
}

.main__nav-sliders{
    margin-top: 37px;
}
.main__list-sliders{
    justify-content: center;
    flex-flow: row wrap;
}
.main__slider-link{
    display: block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #E4E4E4;
}
.main__slider-link:hover,
.main__slider-link:active,
.main__slider-link:focus{
    background: none;
    border: 2px solid #84AAED;
}
.main__slider-item{
    margin-right: 9px;
}
.main__slider-item:last-child{
    margin-right: 0;
}

/* certificate section */

.main__certificate__wrap{
    margin-top: 76px;
    padding: 48px 0 74px 0;
}
.main__certificate{
    width: 100%;
    margin-top: 45px;
}
.main__certificate-item{
    margin-right: 36px;
}
.main__certificate-item:last-child{
    margin-right: 0;
}

button{
    width: 21px;
    height: 40px;
    align-self: center;
    background-color: #F6F6F6;
    border: none;
    cursor: pointer;
}

/* news section */

.main__news__wrap{
    margin-top: 52px;
}
.main__news{
    margin-top: 34px;
}
.main__news-item__ticket{
    display: flex;
    flex-flow: row wrap;
    width: 572px;
    background: url(../img/mini-wave.png) no-repeat right;
    background-color: #FAFAFB;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
    /* padding: 42px 0 0 32px; */
}
.main__news-content{
    display: flex;
    flex-flow: column wrap;
    margin: 42px 0 0 32px;
}
.news__img-ticket{
    margin-top: 50px;
}
.news__img-ticket > img{
    width: 286px;
}
.main__news-content > p:first-child{
    width: 254px;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
}
.main__news-content > p:last-child{
    width: 241px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.main__news-content > p > span{
    color: #84AAED;
}
.main__news-item{
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    width: 262px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
    padding: 27px 24px 24px 24px;
}
.main__news-item img{
    width: 100%;
}
.main__news-item span{
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #ABABAB;
    margin-top: 15px;
}
.main__news-item p{
    font-size: 19px;
    line-height: 23px;
    font-weight: 700;
    margin-top: 9px;
}
.main__news-item > p:last-child{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.button__all-news{
    width: 225px;
    height: 46px;
    background: none;
    align-self: center;
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #6D81CC;
    border: 2px solid #6D81CC;
    border-radius: 3px;
    cursor: pointer;
    transition: 1s;
    margin-top: 45px;
}
.button__all-news:hover{
    background: #6D81CC;
    color: #fff;
}
/* main end */


/* footer start */

.footer__wrap{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 56px 0;
    color: #fff;
}
.footer__content-box{
    display: flex;
    flex-flow: column wrap;
    width: 359px;
}
h3{
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
}
.footer__list,
.footer__contacts-list{
    flex-flow: column wrap;
    margin-top: 27px;
}
.footer__list > li{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin-top: 13px;
}
.footer__list > li:first-child{
    margin-top: 0;
}

.footer__contact-item{
    position: relative;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 17px;
    padding-left: 35px;
}
.footer__contact-item__telegram::before{
    position: absolute;
    top: 1px;
    left: 0px;
    content: url(../img/svg/telegram.svg);
}
.footer__contact-item__viber::before{
    position: absolute;
    top: 0px;
    left: 0px;
    content: url(../img/svg/viber.svg);
}
.footer__contact-item__whatsapp::before{
    position: absolute;
    top: 1px;
    left: 0px;
    content: url(../img/svg/whatsapp.svg);
}

.footer_contacts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}
.footer-phone{
    position: relative;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #fff;
    padding-left: 32px;
    margin-bottom: 20px;
}
.footer-phone::before{
    position: absolute;
    top: 0px;
    left: 0px;
    content: url(../img/svg/call-answer.svg);
}
.footer-email{
    position: relative;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #fff;
    padding-left: 33px;
}
.footer-email::before{
    position: absolute;
    top: 1px;
    left: 0px;
    content: url(../img/svg/mail-answer.svg);
}
.footer__button{
    width: 262px;
    height: 50px;
    background: linear-gradient(90deg, #F6BD60 0%, #E88952 100%);
    box-shadow: 0px 8px 15px rgba(242, 147, 81, 0.449492);
    border: none;
    border-radius: 3px;
    font-family: 'Gilroy';
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    margin-top: 40px;
    cursor: pointer;
}
.footer-logo-link{
    display: inline-block;
    margin-top: 52px;
}
.footer__label{
    padding: 20px 0;
    border-top: 1px solid #4E4E4E;
}
.footer__label p{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #565656;
    text-align: center;
}
/* footer end */