/* reset */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
a{
    color: #000;
    text-decoration: none;
}
ul,
ol,
li{
    list-style: none;
}
img{
    vertical-align: top;
}
html,
body{
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000;
}

h1{
    font-size: 56px;
    line-height: 60px;
    letter-spacing: -2px;
    margin-bottom: 52px;
}
h2{
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    letter-spacing: -1px;
}
h3{
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 16px;
}
h4{
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 16px;
}
h5{
    font-size: 16px;
    letter-spacing: 0.1px;
    margin: 16px 0 8px 0;
}

/* --- */

.wrapper{
    min-width: 100%;
}
._container{
    /* max-width: 1150px; */
    max-width: 1114px;
    /* max-width: 1131px; */
    /* max-width: 1110px; */
    margin: 0 auto;
    padding: 0 47px;
    box-sizing: content-box;
    /* background-color: rgb(165, 208, 209); */
}

/* header start */

.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 7px 30px;
    /* background-color: red; */
}
._header__wrap{
    width: 50%;
}
.header__logo{
    transform: translate(-50%);
}
.menu__item:not(:last-child){
    margin: 0 25px 0 0;
}

.menu__link{
    letter-spacing: 0.1px;
}

.header__logo{
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.1px;
}

.header__action-btn{
    width: 80px;
    height: 36px;
    background-color: #0065F2;
    cursor: pointer;
}
.header__action-btn span{
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

/* header end */


/* main start */

.main__img{
    height: 500px;
    background: url(../img/bg.jpg);
    background-position: center;
    background-repeat: repeat-x;
}

.main{
    padding-top: 50px;
}
.main__section{
    /* background-color: rgba(255, 0, 0, 0.123); */
    padding: 60px 0;
}
.content__section-1,
.content__section-3,
.content__section-4,
.content__section-5{
    width: 445px;
    /* background: salmon; */
}
.img-container{
    display: flex;
    align-items: center;
    width: 555px;
    /* background-color: red; */
}
.img-container img{
    width: 100%;
}

/* section-1 */

.content__section-1 p:first-child{
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 16px;
}
.content__section-1 p:last-child{
    font-size: 14px;
    line-height: 20px;
    margin-top: 20px;
}
input[type=text]{
    width: 321px;
    height: 48px;
    background: rgba(9, 19, 33, 0.0638304);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    outline: none;
    padding-left: 15px;
}
input[type=text]::placeholder,
input[type=email]::placeholder{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #C4C4C4;
}
.main__action-btn{
    width: 124px;
    height: 48px;
    background: #0065F2;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    cursor: pointer;
}

/* section-2 */

.box-h2{
    /* background: red; */
    width: 100%;
    text-align: center;
    margin: 12px 0 68px 0;
}

.pg__description{
    max-width: 540px;
    text-align: center;
    /* background: salmon; */
}

/* sectoin-3 */

.content__section-3 p a{
    color: #0065F2;
}
.feature__block{
    max-width: 190px;
    margin-top: 41px;
}
.feature__block p{
    font-size: 14px;
    line-height: 20px;
}

/* section-4 */

.pay__list{
    margin-top: 40px;
}
.pay__item{
    margin-right: 39px;
}
.pay__item:last-child{
    margin-right: 0;
}

/* section-5 */

.noted__container{
    margin-top: 16px;
}
.noted{
    position: relative;
    padding-left: 32px;
    margin-bottom: 8px;
}
.noted::before{
    position: absolute;
    content: url(../img/svg/shape.svg);
    top: 3px;
    left: 0;
}

/* section-6 */

.content__section-6{
    width: 460px;
    /* background: salmon; */
}
.content__section-6:first-of-type{
    padding-right: 110px;
    border-right: 1px solid rgb(180, 178, 178);
}
.content__section-6:last-of-type{
    border-right: none;
    padding-left: 110px;
}
.content__section-6 p{
    text-align: center;
    margin-bottom: 16px;
}
.content__section-6 a{
    color: #0065F2;
}

/* main end */


/* footer start */

.footer{
    /* background: salmon; */
}
.footer-section-1{
    padding: 65px 0 85px 0;
}

.content__section-7{
    /* background-color:rgba(255, 0, 0, 0.123); */
    width: 285px;
}

.footer__logo{
    display: block;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.1px;
    margin-bottom: 32px;
}

.content__section-7 p{
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
}

.footer__email{
    position: relative;
    margin-top: 28px;
}
.footer__email label{
    position: absolute;
    left: 250px;
}
.email-button{
    cursor: pointer;
}
input[type=email]{
    width: 285px;
    height: 48px;
    background: rgba(9, 19, 33, 0.0638304);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    outline: none;
    color: #67676d;
    padding: 0 50px 0 15px;
}

.content__section-7__pages{
    /* background: rgba(255, 0, 0, 0.24); */
}
.page-list{
    display: block;
    columns: 2;
    /* background: red; */
}
.page-list li{
    margin: 0 60px 15px 0;
}
.page-list li:last-child{
    margin-bottom: 0;
}

.content__section-7__links{
    /* background: red; */
    width: 165px;
}
.footer__list-links{
    height: 141px;
}
.footer__link{
    display: block;
    position: relative;
    font-size: 14px;
    line-height: 32px;
    padding-left: 25px;
}
.footer__link__instagram::before{
    position: absolute;
    top: 3px;
    left: 0;
    content: url(../img/svg/icon-instagram.svg);
}
.footer__link__facebook::before{
    position: absolute;
    top: 3px;
    left: 0;
    content: url(../img/svg/icon-facebook.png);
}
.footer__link__twitter::before{
    position: absolute;
    top: 3px;
    left: 0;
    content: url(../img/svg/icon-twitter.png);
}


.footer-section-2{
    padding: 20px 0;
}
.footer-section-2 p{
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}
.content__section-8 p:first-child{
    margin-right: 24px;
}

/* footer end */