$font-color: #161d6f;
$discnt-color: #ffe097;

$font-size_title: 6em;
$font-size_20: 20px;
$font-size_18: 18px;

$font-family_poppins: 'Poppins', sans-serif;
$font-family_ubuntu: 'Ubuntu', sans-serif;

$wrapper-size: 550px;