@import "variables";

*, html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    color: $font-color;
}

.wrapper{
    position: relative;
    width: $wrapper-size;
    text-align: center;
    margin: auto;
    padding: 100px 0;
    .img-logo{
        width: 130px;
        margin-bottom: 70px;
    }
    p{
        font-family: $font-family_poppins;
        font-size: $font-size_20;
        margin-bottom: 20px;

        &.text-discnt{
            display: inline-block;
            background: $discnt-color;
            font-weight: 700;
            letter-spacing: 2px;
            padding: 3px 80px;

            &:hover{
                animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
                transform: translate3d(0, 0, 0);
                backface-visibility: hidden;
                perspective: 1000px;
            }
        }
        
        &.main-content{
            font-size: $font-size_18;
        }

        &.text-check{
            font-family: $font-family_poppins;
            font-weight: 600;
            font-style: italic;
            letter-spacing: 1px;
        }
    }
}

h1{
    font-size: $font-size_title;
    letter-spacing: 5px;
    margin-bottom: 20px;
}

@keyframes shake{
    10%, 90%{
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80%{
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70%{
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60%{
      transform: translate3d(4px, 0, 0);
    }
}

span{
    display: inline-block;
    font-family: $font-family_ubuntu;
    font-size: $font-size_20;
    margin: 80px 0 20px 0;
}

li{
    display: inline;

    &:not(:last-child){
        margin-right: 15px;
    }  
}

.icon-img{
    width: 40px;
}

// img

.img-back-position{
    position: fixed;
}
.img-heart-1{
    width: 30%;
    top: 10%;
}
.img-heart-2{
    width: 33%;
    bottom: 0;
    left: 70%;
}
.img-egg-1{
    width: 15%;
    right: 15%;
}
.img-egg-2{
    width: 17%;
    right: 0;
}
.img-egg-3{
    width: 17%;
    top: 70%;
    left: 21%;
}
.img-egg-4{
    width: 20%;
    top: 70%;
    right: 17%;
}
.img-egg-5{
    width: 20%;
    top: 70%;
    left: 5%;
}