@import "fonts";
@import "flex";
@import "variables";

// reset

*, html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'TT Norms', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #000;
}
a{
    font-family: 'TT Norms', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
}
*, *::before, *::after{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
ul,
ol,
li{
    list-style: none;
}
img{
    vertical-align: top;
}
h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
}
p, span{
    padding: 0;
    margin: 0;
}

//

._wrapper{
    min-width: 100%;
}
._container-box{
    max-width: 1440px;
    margin: 0 auto;
    // box-sizing: content-box;
}
._container__content{
    max-width: 1320px;
    margin: 0 auto;
    // box-sizing: content-box;
}

.dot{
    width: 7px;
    height: 7px;
    background-color: #E6E6F0;
    border-radius: 50%;
    align-self: center;
    margin: 0 10px;
}
.pink__title{
    font-size: 42px;
    font-weight: 700;
    line-height: 45px;
    background-image: linear-gradient(90deg, $color__pink, $color__light-pink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

// 

// header start

.header{
    background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
    padding: 135px 0 0 0;
}
.header__nav-desktop{
    position: fixed;
    width: 100%;
    max-height: 105px;
    top: 0;
    left: 0;
    background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
    padding: 20px 60px;
    margin: 30px 0 0 0;
    z-index: 99;

    @media screen and (max-width: 920px){
        display: none;
    }

    .header__logo{
        width: 155px;
        img{
            width: 100%;
        }
    }

    .header__content{
        .header__contacts{
            margin: 0 0 16px 0;
            a,
            span,
            p{
                color: #fff;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                // margin: 0;
            }
            span{
                font-size: 12px;
                letter-spacing: 1px;
            }
            p,a{
                font-size: 16px;
            }
            p{
                font-weight: 400;
            }

            .change-lg{
                .btn-language{
                    width: 29px;
                    height: 24px;
                    background: none;
                    border-radius: 8px;
                    font-size: 12px;
                    font-weight: 500;
                    letter-spacing: 1px;
                    color: #fff;
                    padding: 0;
                    transition: 1s;

                    &:first-child,
                    &:hover,
                    &:focus,
                    &:active{
                        background-color: $color__pink;
                    }
                }
            }
        }
    }
}

.header__nav-mobile{
    display: none;
    position: fixed;
    width: 100%;
    max-height: 105px;
    top: 0;
    left: 0;
    background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
    padding: 10px 20px;
    margin: 10px 0 0 0;
    z-index: 99;

    @media screen and (max-width: 920px){
        display: block;
    }

    .header__content{
        margin: 0 0 20px 0;
        & > a{
            font-size: 16px;
            line-height: 19px;
            color: $color__gray;
        }
        .change-lg{
            .btn-language{
                width: 29px;
                height: 24px;
                background: none;
                border-radius: 8px;
                font-size: 12px;
                font-weight: 500;
                letter-spacing: 1px;
                color: $color__gray;
                padding: 0;
                transition: 1s;

                &:first-child,
                &:hover,
                &:focus,
                &:active{
                    color: #fff;
                    background-color: $color__pink;
                }
            }
        }
    }

    .burger{
        width: 18px;
        height: 32px;
        background: url(../img/header/hamburger-modile.svg) no-repeat center;
    }
}

.header__menu-item{
    &:not(:last-child){
        margin: 0 15px 0 0;
    }
    .header__menu-link{
        color: #fff;
        font-weight: 500;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transition: 1s;
        &:hover{
            color: $color__pink;
        }
    }
}

.header__bg-frame__small-p{
    height: 644px;
    background: url(../img/header/FrameP.svg) no-repeat center;
    margin: 40px 0 0 0;

    @media screen and (max-width: 680px) {
        height: 530px;
        background: none;
    }
    .header__bg-frame__big-p{
        height: 100%;
        background: linear-gradient(180deg, rgba(50, 50, 100, 0) 80%, #323264 100%), url(../img/header/symbolP.png) no-repeat bottom;
        text-align: center;
        padding: 205px 0 20px 0;
        p{
            font-size: 38px;
            font-weight: 500;
            line-height: 45px;
            color: #fff;
        }
        .btn-scroll{
            width: 42px;
            height: 42px;
            border: 1px solid #fff;
            border-radius: 50%;
            opacity: 0.5;
            background: url(../img/header/btn-scroll.png) no-repeat center;
            cursor: pointer;
        }

        @media screen and (max-width: 680px) {
            padding: 70px 20px 20px 20px;
        }
    }
}

// header end

// main start

.main__bg{
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    padding: 80px 20px;
    @media screen and (max-width: 920px) {
        padding: 60px 20px;
    }
    @media screen and (max-width: 680px) {
        padding: 45px 20px;
    }
}

// navtab

.main__navtabs-box{
    max-width: 1065px;
    margin: 0 auto;
    @media screen and (max-width: 680px) {
        display: none;
    }
    .nav-pills{
        .nav-link{
            font-size: 42px;
            line-height: 45px;
            color: $color__gray;
            text-align: end;
            border-right: 4px solid #E6E6F0;
            border-radius: 0;
            padding: 10px 40px 10px 0;
            margin: 0;
            @media screen and (max-width: 920px){
                font-size: 32px;
                line-height: 35px;
                padding: 5px 20px 5px 0;
            }
        }
        .active{
            font-size: 42px;
            line-height: 45px;
            background: none;
            background-image: linear-gradient(90deg, $color__light-pink, $color__pink);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            border-right: 4px solid $color__pink;
            @media screen and (max-width: 920px){
                font-size: 32px;
                line-height: 35px;
            }
        }
    }
    .tab-content{
        margin: 0 0 0 40px;
        .tab-pane{
            p{
                color: #fff;
                &:first-child{
                    font-size: 32px;
                    font-weight: 500;
                    line-height: 38px;
                    margin: 0 0 20px 0;
                    @media screen and (max-width: 920px){
                        font-size: 20px;
                        line-height: 25px;
                        margin: 0 0 10px 0;
                    }
                }
                &:last-child{
                    font-size: 21px;
                    font-weight: 400;
                    line-height: 30px;
                    margin: 0;
                    @media screen and (max-width: 920px){
                        font-size: 14px;
                        line-height: 25px;
                        margin: 0 0 5px 0;
                    }
                }
            }
        }
    }
}

.main__navtabs-box__mobile{
    display: none;
    @media screen and (max-width: 680px) {
        display: block;
    }
    .carousel{
        .carousel-indicators{
            bottom: -25px;
            margin: 0;
            padding: 0;
            button{
                width: 16px;
                height: 16px;
                background-color: #24A3FF;
                border-radius: 50%;
                opacity: 0.2;
                margin: 0;
                &:not(:last-child){
                    margin: 0 14px 0 0;
                }
            }
            .active{
                opacity: 1;
            }
        }

        .carousel-item{
            .slide__inner{
                p{
                    font-size: 22px;
                    font-weight: 400;
                    line-height: 26px;
                    color: #fff;
                    margin: 10px 0 15px 0;
                    &:first-child{
                        font-size: 14px;
                        line-height: 17px;
                        font-weight: 700;
                        letter-spacing: 2px;
                        background-image: linear-gradient(90deg, $color__light-pink, $color__pink);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        margin: 0;
                    }
                    &:last-child{
                        font-size: 18px;
                        line-height: 26px;
                    }
                }
            }
        }
    }
}

// service

.main__service-box{
    margin: 80px 0 0 0;
    h2{
        margin: 0 0 68px 0;
    }
    & > p{
        position: relative;
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: 2px;
        color: #fff;
        opacity: 0.5;
        padding: 0 15px 0 0;
        &::after{
            position: absolute;
            content: url(../img/main/svg/link-arrow-white.svg);
            top: 1px;
            right: 0;
        }
    }
}

.main__service-content{
    display: grid;
    grid-template-rows: minmax(0px, auto);
    row-gap: 58px;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
    .service-content__item{
        h5{
            font-size: 24px;
            color: $color__blue;
            line-height: 28px;
            margin: 20px 0 15px 0;
        }
        p{
            font-size: 18px;
            font-weight: 400;
            color: #fff;
            line-height: 26px;
        }
    }
}

// slider

.main__slider-box{
    background: #F5F5FA;
    border-radius: 12px;
    margin: 60px 0 0 0;
    .carousel{
        .carousel-indicators{
            bottom: -47px;
            margin: 0;
            padding: 0;
            button{
                width: 16px;
                height: 16px;
                background-color: #24A3FF;
                border-radius: 50%;
                opacity: 0.2;
                margin: 0;
                &:not(:last-child){
                    margin: 0 14px 0 0;
                }
            }
            .active{
                opacity: 1;
            }
        }

        .carousel-inner{
            .slide__inner{
                display: flex;
                align-items: flex-start;
                padding: 0 40px 0 0;
                img{
                    margin: 0 40px 0 0;
                }
                p:first-child{
                    position: relative;
                    display: inline-block;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 17px;
                    color: $color__blue;
                    letter-spacing: 2px;
                    padding: 0 15px 0 0;
                    margin: 40px 0 0 0;
                    &::after{
                        position: absolute;
                        content: url(../img/main/svg/link-arrow-blue.svg);
                        top: 1px;
                        right: 0;
                    }
                }
                p:not(:first-child){
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 21px;
                    color: $color__gray;
                    margin: 20px 0 5px 0;
                }
                p:last-child{
                    font-size: 16px;
                    font-weight: 400;
                    margin: 0;
                }
            }
        }
    }
}

// main end