@font-face {
  font-family: 'TT Norms';
  src: url(../fonts/TTNorms_Light/TTNorms-Light.ttf), url(../fonts/TTNorms_Light/TTNorms-Light.eot), url(../fonts/TTNorms_Light/TTNorms-Light.woff);
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url(../fonts/TTNorms_Regular/TTNorms-Regular.ttf), url(../fonts/TTNorms_Regular/TTNorms-Regular.eot), url(../fonts/TTNorms_Regular/TTNorms-Regular.woff);
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url(../fonts/TTNorms_Medium/TTNorms-Medium.ttf), url(../fonts/TTNorms_Medium/TTNorms-Medium.eot), url(../fonts/TTNorms_Medium/TTNorms-Medium.woff);
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url(../fonts/TTNorms_Bold/TTNorms-Bold.ttf), url(../fonts/TTNorms_Bold/TTNorms-Bold.eot), url(../fonts/TTNorms_Bold/TTNorms-Bold.woff);
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

.fx-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* flex-direction */
.fx-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.fx-row-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.fx-column-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.fx-column-r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

/* justify-content */
.fx-jc-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fx-jc-sb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fx-jc-sa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.fx-jc-fe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* align-items */
.fl-ai-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fl-ai-fs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.fl-ai-fe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.fl-as-c {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.fl-as-b {
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.fl-as-fs {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.fl-as-fe {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

*, html, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'TT Norms', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #000;
}

a {
  font-family: 'TT Norms', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #000;
  text-decoration: none;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

p, span {
  padding: 0;
  margin: 0;
}

._wrapper {
  min-width: 100%;
}

._container-box {
  max-width: 1440px;
  margin: 0 auto;
}

._container__content {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

.dot {
  width: 7px;
  height: 7px;
  background-color: #E6E6F0;
  border-radius: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 10px;
}

.pink__title {
  font-size: 42px;
  font-weight: 700;
  line-height: 45px;
  background-image: -webkit-gradient(linear, left top, right top, from(#F0145A), to(#EF8080));
  background-image: linear-gradient(90deg, #F0145A, #EF8080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header {
  background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
  padding: 135px 0 0 0;
}

.header__nav-desktop {
  position: fixed;
  width: 100%;
  max-height: 105px;
  top: 0;
  left: 0;
  background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
  padding: 20px 60px;
  margin: 30px 0 0 0;
  z-index: 99;
}

@media screen and (max-width: 920px) {
  .header__nav-desktop {
    display: none;
  }
}

.header__nav-desktop .header__logo {
  width: 155px;
}

.header__nav-desktop .header__logo img {
  width: 100%;
}

.header__nav-desktop .header__content .header__contacts {
  margin: 0 0 16px 0;
}

.header__nav-desktop .header__content .header__contacts a,
.header__nav-desktop .header__content .header__contacts span,
.header__nav-desktop .header__content .header__contacts p {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__nav-desktop .header__content .header__contacts span {
  font-size: 12px;
  letter-spacing: 1px;
}

.header__nav-desktop .header__content .header__contacts p, .header__nav-desktop .header__content .header__contacts a {
  font-size: 16px;
}

.header__nav-desktop .header__content .header__contacts p {
  font-weight: 300;
}

.header__nav-desktop .header__content .header__contacts .change-lg .btn-language {
  width: 29px;
  height: 24px;
  background: none;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff;
  padding: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.header__nav-desktop .header__content .header__contacts .change-lg .btn-language:first-child, .header__nav-desktop .header__content .header__contacts .change-lg .btn-language:hover, .header__nav-desktop .header__content .header__contacts .change-lg .btn-language:focus, .header__nav-desktop .header__content .header__contacts .change-lg .btn-language:active {
  background-color: #F0145A;
}

.header__nav-mobile {
  display: none;
  position: fixed;
  width: 100%;
  max-height: 105px;
  top: 0;
  left: 0;
  background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
  padding: 10px 20px;
  margin: 10px 0 0 0;
  z-index: 99;
}

@media screen and (max-width: 920px) {
  .header__nav-mobile {
    display: block;
  }
}

.header__nav-mobile .header__content {
  margin: 0 0 20px 0;
}

.header__nav-mobile .header__content > a {
  font-size: 16px;
  line-height: 19px;
  color: #B3B3BA;
}

.header__nav-mobile .header__content .change-lg .btn-language {
  width: 29px;
  height: 24px;
  background: none;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #B3B3BA;
  padding: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.header__nav-mobile .header__content .change-lg .btn-language:first-child, .header__nav-mobile .header__content .change-lg .btn-language:hover, .header__nav-mobile .header__content .change-lg .btn-language:focus, .header__nav-mobile .header__content .change-lg .btn-language:active {
  color: #fff;
  background-color: #F0145A;
}

.header__nav-mobile .burger {
  width: 18px;
  height: 32px;
  background: url(../img/header/hamburger-modile.svg) no-repeat center;
}

.header__menu-item:not(:last-child) {
  margin: 0 15px 0 0;
}

.header__menu-item .header__menu-link {
  color: #fff;
  font-weight: 500;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: 1s;
  transition: 1s;
}

.header__menu-item .header__menu-link:hover {
  color: #F0145A;
}

.header__bg-frame__small-p {
  height: 644px;
  background: url(../img/header/FrameP.svg) no-repeat center;
  margin: 40px 0 0 0;
}

@media screen and (max-width: 680px) {
  .header__bg-frame__small-p {
    height: 530px;
    background: none;
  }
}

.header__bg-frame__small-p .header__bg-frame__big-p {
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, rgba(50, 50, 100, 0)), to(#323264)), url(../img/header/symbolP.png) no-repeat bottom;
  background: linear-gradient(180deg, rgba(50, 50, 100, 0) 80%, #323264 100%), url(../img/header/symbolP.png) no-repeat bottom;
  text-align: center;
  padding: 205px 0 20px 0;
}

.header__bg-frame__small-p .header__bg-frame__big-p p {
  font-size: 38px;
  font-weight: 500;
  line-height: 45px;
  color: #fff;
}

.header__bg-frame__small-p .header__bg-frame__big-p .btn-scroll {
  width: 42px;
  height: 42px;
  border: 1px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  background: url(../img/header/btn-scroll.png) no-repeat center;
  cursor: pointer;
}

@media screen and (max-width: 680px) {
  .header__bg-frame__small-p .header__bg-frame__big-p {
    padding: 70px 20px 20px 20px;
  }
}

.main__bg {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  padding: 80px 0px;
}

@media screen and (max-width: 920px) {
  .main__bg {
    padding: 60px 0px;
  }
}

@media screen and (max-width: 680px) {
  .main__bg {
    padding: 45px 0px;
  }
}

.main__navtabs-box {
  max-width: 1065px;
  margin: 0 auto;
}

@media screen and (max-width: 680px) {
  .main__navtabs-box {
    display: none;
  }
}

.main__navtabs-box .nav-pills .nav-link {
  font-size: 42px;
  line-height: 45px;
  color: #B3B3BA;
  text-align: end;
  border-right: 4px solid #E6E6F0;
  border-radius: 0;
  padding: 10px 40px 10px 0;
  margin: 0;
}

@media screen and (max-width: 920px) {
  .main__navtabs-box .nav-pills .nav-link {
    font-size: 32px;
    line-height: 35px;
    padding: 5px 20px 5px 0;
  }
}

.main__navtabs-box .nav-pills .active {
  font-size: 42px;
  line-height: 45px;
  background: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#EF8080), to(#F0145A));
  background-image: linear-gradient(90deg, #EF8080, #F0145A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-right: 4px solid #F0145A;
}

@media screen and (max-width: 920px) {
  .main__navtabs-box .nav-pills .active {
    font-size: 32px;
    line-height: 35px;
  }
}

.main__navtabs-box .tab-content {
  margin: 0 0 0 40px;
}

.main__navtabs-box .tab-content .tab-pane p {
  color: #fff;
}

.main__navtabs-box .tab-content .tab-pane p:first-child {
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  margin: 0 0 20px 0;
}

@media screen and (max-width: 920px) {
  .main__navtabs-box .tab-content .tab-pane p:first-child {
    font-size: 20px;
    line-height: 25px;
    margin: 0 0 10px 0;
  }
}

.main__navtabs-box .tab-content .tab-pane p:last-child {
  font-size: 21px;
  font-weight: 300;
  line-height: 30px;
  margin: 0;
}

@media screen and (max-width: 920px) {
  .main__navtabs-box .tab-content .tab-pane p:last-child {
    font-size: 14px;
    line-height: 25px;
    margin: 0 0 5px 0;
  }
}

.main__navtabs-box__mobile {
  display: none;
}

@media screen and (max-width: 680px) {
  .main__navtabs-box__mobile {
    display: block;
  }
}

.main__navtabs-box__mobile .carousel .carousel-indicators {
  bottom: -30px;
  margin: 0;
  padding: 0;
}

.main__navtabs-box__mobile .carousel .carousel-indicators button {
  width: 16px;
  height: 16px;
  background-color: #24A3FF;
  border-radius: 50%;
  opacity: 0.2;
  margin: 0;
}

.main__navtabs-box__mobile .carousel .carousel-indicators button:not(:last-child) {
  margin: 0 14px 0 0;
}

.main__navtabs-box__mobile .carousel .carousel-indicators .active {
  opacity: 1;
}

.main__navtabs-box__mobile .carousel .carousel-item .slide__inner p {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #fff;
  margin: 10px 0 15px 0;
}

.main__navtabs-box__mobile .carousel .carousel-item .slide__inner p:first-child {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  letter-spacing: 2px;
  background-image: -webkit-gradient(linear, left top, right top, from(#EF8080), to(#F0145A));
  background-image: linear-gradient(90deg, #EF8080, #F0145A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.main__navtabs-box__mobile .carousel .carousel-item .slide__inner p:last-child {
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
}

.main__service-box {
  margin: 80px 0 0 0;
}

@media screen and (max-width: 920px) {
  .main__service-box {
    margin: 60px 0 0 0;
  }
}

@media screen and (max-width: 680px) {
  .main__service-box {
    margin: 60px 0 0 0;
  }
}

.main__service-box h2 {
  margin: 0 0 68px 0;
}

@media screen and (max-width: 920px) {
  .main__service-box h2 {
    margin: 0 0 30px 0;
  }
}

@media screen and (max-width: 680px) {
  .main__service-box h2 {
    font-size: 32px;
    line-height: 38px;
    margin: 0 0 20px 0;
  }
}

.main__service-box > p {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 2px;
  color: #fff;
  opacity: 0.5;
  padding: 0 15px 0 0;
}

.main__service-box > p::after {
  position: absolute;
  content: url(../img/main/svg/link-arrow-white.svg);
  top: 1px;
  right: 0;
}

.main__service-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(0px, auto);
      grid-template-rows: minmax(0px, auto);
  row-gap: 58px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

@media screen and (max-width: 920px) {
  .main__service-content {
    row-gap: 30px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
}

@media screen and (max-width: 680px) {
  .main__service-content {
    row-gap: 40px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-column-gap: 0px;
            column-gap: 0px;
  }
}

.main__service-content .service-content__item .service-item__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 15px 0;
}

@media screen and (max-width: 680px) {
  .main__service-content .service-content__item .service-item__title {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main__service-content .service-content__item .service-item__title .service__img {
  width: 94px;
  height: 94px;
}

@media screen and (max-width: 680px) {
  .main__service-content .service-content__item .service-item__title .service__img {
    width: 64px;
    height: 64px;
    margin: 0 10px 0 0;
  }
}

.main__service-content .service-content__item .service-item__title .service__img_01 {
  background: url(../img/main/svg/icon-service_01.svg) no-repeat center;
  background-size: 100%;
}

.main__service-content .service-content__item .service-item__title .service__img_02 {
  background: url(../img/main/svg/icon-service_02.svg) no-repeat center;
  background-size: 100%;
}

.main__service-content .service-content__item .service-item__title .service__img_03 {
  background: url(../img/main/svg/icon-service_03.svg) no-repeat center;
  background-size: 100%;
}

.main__service-content .service-content__item .service-item__title .service__img_04 {
  background: url(../img/main/svg/icon-service_04.svg) no-repeat center;
  background-size: 100%;
}

.main__service-content .service-content__item .service-item__title .service__img_05 {
  background: url(../img/main/svg/icon-service_05.svg) no-repeat center;
  background-size: 100%;
}

.main__service-content .service-content__item .service-item__title .service__img_06 {
  background: url(../img/main/svg/icon-service_06.svg) no-repeat center;
  background-size: 100%;
}

.main__service-content .service-content__item .service-item__title h5 {
  display: inline;
  font-size: 24px;
  color: #24A3FF;
  line-height: 28px;
  margin: 20px 0 0 0;
}

@media screen and (max-width: 680px) {
  .main__service-content .service-content__item .service-item__title h5 {
    margin: 0;
    font-size: 18px;
    line-height: 21px;
  }
}

.main__service-content .service-content__item p {
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  line-height: 26px;
}

@media screen and (max-width: 680px) {
  .main__service-content .service-content__item p {
    font-size: 16px;
    line-height: 22px;
  }
}

.main__slider-box {
  background: #F5F5FA;
  border-radius: 12px;
  margin: 60px 0 0 0;
}

@media screen and (max-width: 1010px) {
  .main__slider-box {
    margin: 40px 0 0 0;
  }
}

.main__slider-box .carousel .carousel-indicators {
  bottom: -47px;
  margin: 0;
  padding: 0;
}

.main__slider-box .carousel .carousel-indicators button {
  width: 16px;
  height: 16px;
  background-color: #24A3FF;
  border-radius: 50%;
  opacity: 0.2;
  margin: 0;
}

.main__slider-box .carousel .carousel-indicators button:not(:last-child) {
  margin: 0 14px 0 0;
}

.main__slider-box .carousel .carousel-indicators .active {
  opacity: 1;
}

.main__slider-box .carousel .carousel-inner .slide__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 40px 0 0;
}

@media screen and (max-width: 1010px) {
  .main__slider-box .carousel .carousel-inner .slide__inner {
    padding: 0 20px 0 0;
  }
}

@media screen and (max-width: 790px) {
  .main__slider-box .carousel .carousel-inner .slide__inner {
    padding: 0 20px 20px 20px;
  }
}

.main__slider-box .carousel .carousel-inner .slide__inner .slide__img {
  margin: 0 40px 0 0;
}

.main__slider-box .carousel .carousel-inner .slide__inner .slide__img img {
  height: 100%;
}

@media screen and (max-width: 1010px) {
  .main__slider-box .carousel .carousel-inner .slide__inner .slide__img {
    height: 350px;
    margin: 0 20px 0 0;
  }
}

@media screen and (max-width: 790px) {
  .main__slider-box .carousel .carousel-inner .slide__inner .slide__img {
    display: none;
  }
}

.main__slider-box .carousel .carousel-inner .slide__inner .slide__img-min {
  display: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 10px 0 0;
}

@media screen and (max-width: 790px) {
  .main__slider-box .carousel .carousel-inner .slide__inner .slide__img-min {
    display: block;
  }
}

.main__slider-box .carousel .carousel-inner .slide__inner .slide__img-min__01 {
  background: url(../img/main/svg/people_01.svg) no-repeat center;
  background-size: 100% auto;
}

.main__slider-box .carousel .carousel-inner .slide__inner .slide__img-min__02 {
  background: url(../img/main/svg/people_02.svg) no-repeat center;
  background-size: 100% auto;
}

.main__slider-box .carousel .carousel-inner .slide__inner .slide__img-min__03 {
  background: url(../img/main/svg/people_03.svg) no-repeat center;
  background-size: 100% auto;
}

.main__slider-box .carousel .carousel-inner .slide__inner h5 {
  margin: 0 0 20px 0;
}

@media screen and (max-width: 1010px) {
  .main__slider-box .carousel .carousel-inner .slide__inner h5 {
    font-size: 32px;
    line-height: 35px;
  }
}

@media screen and (max-width: 790px) {
  .main__slider-box .carousel .carousel-inner .slide__inner h5 {
    margin: 0 0 10px 0;
  }
}

.main__slider-box .carousel .carousel-inner .slide__inner span {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: #24A3FF;
  letter-spacing: 2px;
  padding: 0 15px 0 0;
  margin: 40px 0 0 0;
}

.main__slider-box .carousel .carousel-inner .slide__inner span::after {
  position: absolute;
  content: url(../img/main/svg/link-arrow-blue.svg);
  top: 1px;
  right: 0;
}

@media screen and (max-width: 790px) {
  .main__slider-box .carousel .carousel-inner .slide__inner span {
    margin: 20px 0 0 0;
  }
}

.main__slider-box .carousel .carousel-inner .slide__inner .slide__intro p:first-child {
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  color: #B3B3BA;
  margin: 0 0 5px 0;
}

.main__slider-box .carousel .carousel-inner .slide__inner .slide__intro p:last-child {
  font-size: 16px;
  font-weight: 400;
  color: #B3B3BA;
  margin: 0;
}

.main__case-box {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: minmax(57px, auto);
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 2px;
  margin: 77px 0 0 0;
}

@media screen and (max-width: 920px) {
  .main__case-box {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin: 61px 0 0 0;
  }
}

.main__case-box .case__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: #F5F5FA;
  padding: 20px;
}

.main__case-box .case__item p {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #686887;
  margin: 0 0 20px 0;
}

@media screen and (max-width: 680px) {
  .main__case-box .case__item p {
    font-size: 18px;
    line-height: 21px;
    margin: 0 0 10px 0;
  }
}

.main__case-box .case__item .case__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  color: #F0145A;
  margin: 0;
}

.main__case-box .case__item span {
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  color: #B3B3BA;
}

.main__case-box .case__item-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  border-radius: 12px 0px 0px 0px;
}

@media screen and (max-width: 920px) {
  .main__case-box .case__item-1 {
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-column: 1;
    grid-column: 1/1;
    border-radius: 12px 12px 0px 0px;
  }
}

.main__case-box .case__item-2 {
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
}

@media screen and (max-width: 920px) {
  .main__case-box .case__item-2 {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-column: 1;
    grid-column: 1/1;
  }
}

.main__case-box .case__item-3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5/9;
}

@media screen and (max-width: 920px) {
  .main__case-box .case__item-3 {
    -ms-grid-row: 3;
    grid-row: 3/3;
    -ms-grid-column: 1;
    grid-column: 1/1;
  }
}

.main__case-box .case__item-4 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-column: 9/13;
  border-radius: 0px 12px 0px 0px;
}

@media screen and (max-width: 920px) {
  .main__case-box .case__item-4 {
    -ms-grid-row: 4;
    grid-row: 4/4;
    -ms-grid-column: 1;
    grid-column: 1/1;
    border-radius: 0;
  }
}

.main__case-box .case__item-5 {
  -ms-grid-row: 3;
      grid-row-start: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  border-radius: 0px 0px 0px 12px;
}

@media screen and (max-width: 920px) {
  .main__case-box .case__item-5 {
    -ms-grid-row: 5;
        grid-row-start: 5;
    -ms-grid-column: 1;
    grid-column: 1/1;
    border-radius: 0;
  }
}

.main__case-box .case__item-6 {
  -ms-grid-row: 3;
      grid-row-start: 3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 4;
  grid-column: 4/8;
}

@media screen and (max-width: 920px) {
  .main__case-box .case__item-6 {
    -ms-grid-row: 6;
        grid-row-start: 6;
    -ms-grid-column: 1;
    grid-column: 1/1;
  }
}

.main__case-box .case__item-7 {
  -ms-grid-row: 3;
      grid-row-start: 3;
  -ms-grid-column: 8;
  -ms-grid-column-span: 5;
  grid-column: 8/13;
  border-radius: 0px 0px 12px 0px;
}

@media screen and (max-width: 920px) {
  .main__case-box .case__item-7 {
    -ms-grid-row: 7;
        grid-row-start: 7;
    -ms-grid-column: 1;
    grid-column: 1/1;
    border-radius: 0px 0px 12px 12px;
  }
}

.main__banner-box {
  margin: 30px 0 0 0;
}

.main__banner-box h5 {
  font-size: 14px;
  font-weight: 700;
  color: #323264;
  margin: 0 0 30px 0;
}

.main__banner-box .banners-box {
  display: -ms-grid;
  display: grid;
  width: 100%;
  grid-auto-rows: minmax(120px, auto);
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 920px) {
  .main__banner-box .banners-box {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 700px) {
  .main__banner-box .banners-box {
    grid-auto-rows: minmax(90px, auto);
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.main__banner-box .banners-box .banner-item-1 {
  background: url(../img/main/svg/banner-logo_01.svg) no-repeat center;
  background-color: #1C4280;
}

@media screen and (max-width: 530px) {
  .main__banner-box .banners-box .banner-item-1 {
    background: url(../img/main/svg/banner-logo-mobile_01.svg) no-repeat center;
    background-color: #1C4280;
  }
}

.main__banner-box .banners-box .banner-item-2 {
  background: url(../img/main/svg/banner-logo_02.svg) no-repeat center;
  background-color: #143646;
}

@media screen and (max-width: 530px) {
  .main__banner-box .banners-box .banner-item-2 {
    background: url(../img/main/svg/banner-logo-mobile_02.svg) no-repeat center;
    background-color: #143646;
  }
}

.main__banner-box .banners-box .banner-item-3 {
  background: url(../img/main/svg/banner-logo_03.svg) no-repeat center;
  background-color: #F48B30;
}

@media screen and (max-width: 530px) {
  .main__banner-box .banners-box .banner-item-3 {
    background: url(../img/main/svg/banner-logo-mobile_03.svg) no-repeat center;
    background-color: #F48B30;
  }
}

.main__banner-box .banners-box .banner-item-4 {
  background: url(../img/main/svg/banner-logo_04.svg) no-repeat center;
  background-color: #9E4DC3;
}

@media screen and (max-width: 530px) {
  .main__banner-box .banners-box .banner-item-4 {
    background: url(../img/main/svg/banner-logo-mobile_04.svg) no-repeat center;
    background-color: #9E4DC3;
  }
}

.main__banner-box .banners-box .banner-item-5 {
  background: url(../img/main/svg/banner-logo_05.svg) no-repeat center;
  background-color: #FD9339;
}

@media screen and (max-width: 530px) {
  .main__banner-box .banners-box .banner-item-5 {
    background: url(../img/main/svg/banner-logo-mobile_05.svg) no-repeat center;
    background-color: #DCF3F9;
  }
}

.main__banner-box .banners-box .banner-item-6 {
  background: url(../img/main/svg/banner-logo_06.svg) no-repeat center;
  background-color: #E2E2E4;
}

@media screen and (max-width: 530px) {
  .main__banner-box .banners-box .banner-item-6 {
    background: url(../img/main/svg/banner-logo-mobile_06.svg) no-repeat center;
    background-color: #C71C36;
  }
}

.main__banner-box .banners-box .banner-item-7 {
  background: url(../img/main/svg/banner-logo_07.svg) no-repeat center;
  background-color: #C71C36;
}

@media screen and (max-width: 530px) {
  .main__banner-box .banners-box .banner-item-7 {
    background: url(../img/main/svg/banner-logo-mobile_07.svg) no-repeat center;
    background-color: #FD9339;
  }
}

.main__banner-box .banners-box .banner-item-8 {
  background: url(../img/main/svg/banner-logo_08.svg) no-repeat center;
  background-color: #DCF3F9;
}

@media screen and (max-width: 530px) {
  .main__banner-box .banners-box .banner-item-8 {
    background: url(../img/main/svg/banner-logo-mobile_08.svg) no-repeat center;
    background-color: #EAEAEA;
  }
}

.main__banner-box .banners-box .banner-item-9 {
  background: url(../img/main/svg/banner-logo_09.svg) no-repeat center;
  background-color: #EAEAEA;
}

@media screen and (max-width: 530px) {
  .main__banner-box .banners-box .banner-item-9 {
    background: url(../img/main/svg/banner-logo-mobile_09.svg) no-repeat center;
    background-color: #000000;
  }
}

.main__banner-box .banners-box .banner-item-10 {
  background: url(../img/main/svg/banner-logo_010.svg) no-repeat center;
  background-color: #282240;
}

@media screen and (max-width: 530px) {
  .main__banner-box .banners-box .banner-item-10 {
    background: url(../img/main/svg/banner-logo-mobile_010.svg) no-repeat center;
    background-color: #1D4568;
  }
}

.main__banner-box .banners-box .banner-item-11 {
  background: url(../img/main/svg/banner-logo_011.svg) no-repeat center;
  background-color: #1D4568;
}

@media screen and (max-width: 530px) {
  .main__banner-box .banners-box .banner-item-11 {
    background: url(../img/main/svg/banner-logo-mobile_011.svg) no-repeat center;
    background-color: #282240;
  }
}

.main__banner-box .banners-box .banner-item-12 {
  background: url(../img/main/svg/banner-logo_012.svg) no-repeat center;
  background-color: #000000;
}

@media screen and (max-width: 530px) {
  .main__banner-box .banners-box .banner-item-12 {
    background: url(../img/main/svg/banner-logo-mobile_012.svg) no-repeat center;
    background-color: #E2E2E4;
  }
}
/*# sourceMappingURL=style.css.map */