@font-face {
  font-family: 'TT Norms';
  src: url(../fonts/TTNorms_Regular/TTNorms-Regular.ttf), url(../fonts/TTNorms_Regular/TTNorms-Regular.eot), url(../fonts/TTNorms_Regular/TTNorms-Regular.woff);
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url(../fonts/TTNorms_Medium/TTNorms-Medium.ttf), url(../fonts/TTNorms_Medium/TTNorms-Medium.eot), url(../fonts/TTNorms_Medium/TTNorms-Medium.woff);
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url(../fonts/TTNorms_Bold/TTNorms-Bold.ttf), url(../fonts/TTNorms_Bold/TTNorms-Bold.eot), url(../fonts/TTNorms_Bold/TTNorms-Bold.woff);
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

.fx-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* flex-direction */
.fx-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.fx-column-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.fx-column-r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

/* justify-content */
.fx-jc-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fx-jc-sb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fx-jc-sa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.fx-jc-fe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* align-items */
.fl-ai-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fl-ai-s {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.fl-as-c {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.fl-as-b {
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.fl-as-fe {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

*, html, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'TT Norms', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #000;
}

a {
  font-family: 'TT Norms', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #000;
  text-decoration: none;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

._wrapper {
  min-width: 100%;
}

._container-box {
  max-width: 1440px;
  margin: 0 auto;
}

._container__content {
  max-width: 1320px;
  margin: 0 auto;
}

.dot {
  width: 7px;
  height: 7px;
  background-color: #E6E6F0;
  border-radius: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 10px;
}

.header {
  background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
  padding: 135px 0 0 0;
}

.header__nav {
  position: fixed;
  width: 100%;
  max-height: 105px;
  top: 0;
  left: 0;
  background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
  padding: 20px 60px;
  margin: 30px 0 0 0;
}

.header__nav .header__logo {
  width: 155px;
}

.header__nav .header__logo img {
  width: 100%;
}

.header__nav .header__content .header__contacts {
  margin: 0 0 16px 0;
}

.header__nav .header__content .header__contacts a,
.header__nav .header__content .header__contacts span,
.header__nav .header__content .header__contacts p {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__nav .header__content .header__contacts span {
  font-size: 12px;
  letter-spacing: 1px;
}

.header__nav .header__content .header__contacts p, .header__nav .header__content .header__contacts a {
  font-size: 16px;
}

.header__nav .header__content .header__contacts p {
  font-weight: 400;
}

.header__nav .header__content .header__contacts .change-lg a {
  border-radius: 8px;
  padding: 2px 6px 4px 7px;
  -webkit-transition: 1s;
  transition: 1s;
}

.header__nav .header__content .header__contacts .change-lg a:first-child, .header__nav .header__content .header__contacts .change-lg a:hover {
  background-color: #F0145A;
}

.header__menu-item:not(:last-child) {
  margin: 0 15px 0 0;
}

.header__menu-item .header__menu-link {
  color: #fff;
  font-weight: 500;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: 1s;
  transition: 1s;
}

.header__menu-item .header__menu-link:hover {
  color: #F0145A;
}

.header__bg-frame__small-p {
  height: 644px;
  background: url(../img/header/FrameP.svg) no-repeat center;
  margin: 40px 0 0 0;
}

.header__bg-frame__small-p .header__bg-frame__big-p {
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, rgba(50, 50, 100, 0)), to(#323264)), url(../img/header/symbolP.png) no-repeat bottom;
  background: linear-gradient(180deg, rgba(50, 50, 100, 0) 80%, #323264 100%), url(../img/header/symbolP.png) no-repeat bottom;
  text-align: center;
  padding: 205px 0 20px 0;
}

.header__bg-frame__small-p .header__bg-frame__big-p p {
  font-size: 38px;
  font-weight: 500;
  line-height: 45px;
  color: #fff;
}

.header__bg-frame__small-p .header__bg-frame__big-p .btn-scroll {
  width: 42px;
  height: 42px;
  border: 1px solid #fff;
  border-radius: 50%;
  background: url(../img/header/btn-scroll.png) no-repeat center;
  cursor: pointer;
}

.main {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  padding: 80px 0 0 0;
}

.navtabs-box {
  max-width: 1065px;
  margin: 0 auto;
}

.navtabs-box .nav-pills .nav-link {
  font-size: 42px;
  line-height: 45px;
  color: #B3B3BA;
  text-align: end;
  border-right: 4px solid #E6E6F0;
  border-radius: 0;
  padding: 10px 40px 10px 0;
  margin: 0;
}

.navtabs-box .nav-pills .active {
  font-size: 42px;
  line-height: 50px;
  background: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#EF8080), to(#F0145A));
  background-image: linear-gradient(90deg, #EF8080, #F0145A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-right: 4px solid #F0145A;
}

.navtabs-box .tab-content {
  margin: 0 0 0 40px;
}

.navtabs-box .tab-content .tab-pane p {
  color: #fff;
}

.navtabs-box .tab-content .tab-pane p:first-child {
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  margin: 0 0 20px 0;
}

.navtabs-box .tab-content .tab-pane p:last-child {
  font-size: 21px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */